.carrusel {
    margin-left: 2em;
    margin-bottom: 5em;
}
.sectionIndex {
    h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2em;
    }

h3 {
    text-align: center;
    margin: 7em;
}
 img{
    width: 600px;
    height: 450px;
    margin-right: 1em;
}

 div{ 
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}