* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,100&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: #e3e3e7;
  font-family: "Raleway", sans-serif;
}
body {
  background: rgb(228, 226, 226);
}

@media (min-width: 150px) {
  /*HEADER*/
  header {
    background-color: #18191b;
    padding: 20px 10px 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 5em;
  }
  /*INDEX*/
  .products-information {
    margin-top: 5em;
    margin-bottom: 2em;
  }
  .product-information {
    color: #aaa;
    margin-top: 1em;
    text-align: center;
  }
  .sectionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    margin: 10em 0 10em 0;
  }
  .sectionIndex img {
    margin-top: 0.2em;
    width: 3em;
  }
  .sectionIndex h3 {
    font-weight: normal;
    font-size: 1em;
    margin-top: 1em;
  }
  .envios,
  .pagos,
  .horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /*SECCION PRODUCTOS*/
  .titulo h1 {
    text-align: center;
    font-weight: 100;
    margin: 3em 0 2em 0;
    font-size: x-large;
    color: #691c1c;
  }
  .listaProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listaProductos img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 25px;
  }
  .producto {
    height: 450px;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px 0px rgb(0, 0, 0);
    margin-bottom: 10em;
    border-radius: 10px;
  }
  .producto h2 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
  }
  .listaProductos button {
    width: 130px;
    padding: 8px;
    background-color: #171717;
    border-radius: 10px;
    border: 1px solid #691c1c;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
  .listaProductos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .abrirCarrito {
    background-color: none;
  }
  .botonCompra:hover {
    background-color: #691c1c;
  }
  input {
    border: 1px solid #691c1c;
    border-radius: 5px;
    text-align: center;
  }
  .buscando {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 400px;
    background-color: white;
    border-radius: 30px;
    padding: 5px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .buscador {
    border: none;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    width: 100%;
    font-size: 16px;
  }

  /*CARRITO*/
  .carritoVacio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carritoVacio img {
    margin-bottom: 2em;
    margin-top: 5em;
  }
  .carritoVacio h1 {
    font-size: small;
  }
  .carritoVacio h2 {
    font-size: small;
    margin-top: 1.5em;
    margin-bottom: 2em;
  }
  .carritoVacio button {
    background-color: #bb8c8c;
    border: 1px solid #bb8c8c;
    border-radius: 4px;
    padding: 1em;
  }
  .resumenVacio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: small;
  }
  .resumenVacio h2,
  h3 {
    margin-bottom: 1em;
    font-weight: lighter;
  }
  .resumenCompra {
    padding: 1em;
    margin: 5em 5em 5em 2em;
    height: 10em;
  }
  .totalCompra {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: small;
  }
  .totalCompra h2,
  h3 {
    font-weight: lighter;
    margin-bottom: 1em;
  }
  .totalCompra h2 {
    border-bottom: solid 1px black;
  }
  .totalCompra button {
    width: 50%;
  }
  .disabled {
    display: none;
  }
  .botonEliminar {
    background-color: white;
    padding: 1em;
    border: none;
    color: #691c1c;
  }
  .botonEliminar:hover {
    color: #bb8c8c;
  }
  .parrafoVacio {
    margin-top: 2rem;
  }
  .listaCarrito {
    display: flex;
    flex-direction: column;
  }
  .imgCarrito {
    width: 6em;
  }
  .productoCarrito {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-size: small;
    width: 100vw;
    border-bottom: solid 1px #321d58;
    margin-top: 1em;
  }
  .infProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .cantidad {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .agregar,
  .quitar {
    border: none;
    background-color: white;
  }

  /*FOOTER*/
  footer {
    background-color: #18191b;
    margin-top: 10em;
    border-top: solid 1px #b3b3b3;
    color: #eeeef1;
  }

  footer h3 {
    font-size: small;
    margin-top: 1em;
    margin-left: 1.5em;
  }
  footer h4 {
    font-size: small;
    font-weight: 100;
    margin-left: 1.5em;
  }
  footer img {
    width: 1em;
  }
}

@media (min-width: 575px) {
  header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 7em;
  }
  .sectionIndex h3 {
    font-size: 1em;
    font-weight: normal;
  }
  .listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
  }
  .carritoVacio img {
    margin-top: 0px;
  }
  .carritoVacio h1 {
    font-size: 1.2em;
    margin-top: 0px;
  }
  .carritoVacio h2 {
    font-size: medium;
    margin-top: 0.5em;
    margin-bottom: 2em;
  }
  .sectionCarrito {
    background-color: #eeeef1;
    padding: 2em;
    margin: 2em;
    border: 1px solid #e3e3e7;
    border-radius: 0.5em;
  }
  .totalCompra button {
    width: 30%;
  }
  .infProducto {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .productoCarrito,
  .infProducto {
    width: 100%;
    margin-top: 0;
  }
  .redesSociales {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 900px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .sectionIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
  }
  .bebidaPrincipal {
    margin: 10em;
  }
  .bebidaPrincipal img {
    width: 15em;
  }
  .bebidaPrincipal p {
    margin: 0 2em 0 2em;
  }
  .destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .sectionCarrito {
    padding: 1em;
    margin: 3em 1.5em 3em 3em;
  }
  .resumenCompra {
    background-color: #eeeef1;
    border: 1px solid #e3e3e7;
    border-radius: 0.5em;
    padding: 1em;
    margin: 3em 3em 3em 1.5em;
    height: 10em;
  }
  .totalCompra button {
    width: 100%;
  }
  .carritoCompras {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  .paginaCreada {
    align-items: start;
  }
  .red {
    margin-left: 5em;
  }
}

@media (min-width: 1200px) {
  .listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .producto {
    height: 500px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
  }
  .listaProductos > .producto:hover {
    color: #691c1c;
  }
  .listaProductos img {
    width: 300px;
    height: 300px;
    margin-bottom: 18px;
  }
  .carritoCompras {
    display: grid;
    grid-template-columns: 4fr 2fr;
  }
  .sectionCarrito {
    padding: 1em;
    margin: 5em 2em 5em 5em;
  }
  .resumenCompra {
    padding: 1em;
    margin: 5em 5em 5em 2em;
    height: 10em;
  }
  .carritoVacio img {
    margin-top: 2em;
    margin-bottom: 4em;
  }
  .carritoVacio h2 {
    margin-bottom: 4em;
  }
  .carritoVacio button {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #bb8c8c;
  }
  .carritoVacio button:hover {
    background-color: #691c1c;
    color: #b3b3b3;
  }
  .resumenCompra {
    background-color: #eeeef1;
    border: 1px solid #e3e3e7;
    border-radius: 0.5em;
    padding: 1em;
    margin: 5em 5em 5em 2em;
    height: 10em;
  }
}

.menu-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links,
li,
a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

li a:hover {
  color: #bb8c8c;
}

@media (max-width: 760px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 7em;
    right: 1em;
    background-color: #691c1cc5;
    width: 100%;
    height: 20em;
    padding: 20px;
    z-index: 99;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1em;
  }

  .menu-toggle {
    display: block;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  background: rgb(228, 226, 226);
  padding: 40px;
}

.hero h2 {
  font-size: 48px;
  color: #691c1c;
  margin-bottom: 20px;
}

.hero p {
  font-size: 18px;
  color: #2c2c2c;
  max-width: 600px;
  margin-bottom: 30px;
}

.hero button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #691c1c;
  color: #ccc;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.hero button:hover {
  background-color: #a12c2c;
  color: #171717;
}

.products-preview {
  padding: 60px 40px;
  background-color: #1b1b1b;
}

.products-preview h3 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #a12c2c;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.product-card {
  background-color: #2c2c2c;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-card .info {
  padding: 15px;
}

.product-card .info h4 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-card .info p {
  color: #aaa;
  font-size: 14px;
}
.about {
  padding: 60px 40px;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5em;
}
.about-card {
  background-color: #2c2c2c;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.about-card:hover {
  transform: scale(1.03);
}
.about-card .info {
  padding: 50px;
}
.about-card .info p {
  color: #aaa;
  font-size: 14px;
}
footer {
  background-color: #000;
  text-align: center;
  padding: 20px;
  color: #aaa;
  margin-top: 60px;
}
