*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@100&family=Rubik+Mono+One&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    color: aliceblue;
    font-family: 'Rubik Mono One', sans-serif;

}

@media (min-width: 150px) {
    main {
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 2em;
        background-color: black;
    }
    main div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        margin-bottom: 20px;
        border-bottom: solid 1px whitesmoke;
    }
    h1 {
        font-size: 4em;
        font-family: 'Roboto', sans-serif;
    }
    
    ul li a{
        text-decoration: none;
        color:aliceblue;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: large;
    }
    .carrusel {
        display: none;
    }
    
    .quienes {
    background-color: rgb(3, 1, 39);
    color: white;
    border-radius: 5px;
    }
    .donde {
        background-color: rgb(3, 1, 39);
        color: white;
        border-radius: 5px;
    }
    .conocenos {
        background-color: rgb(6, 3, 53);
        color: white;
        border-radius: 5px;
    }
    .seccionIndex {
    margin-top: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    }
    .sectionIndex img {
            height: 200px;
            width: 200px;
    } 


    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10em;
        text-align: center;
        border-top: solid 1px whitesmoke;
    }
    
}

@media (min-width: 800px){
main div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px whitesmoke;
}
h1 {
    font-size: 6em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li a{
    font-size: xx-large;
}
.carrusel {
    margin-left: 2em;
    margin-bottom: 5em;
}

.quienes {
    box-shadow: 1px 1px 1px 1px rgb(16, 16, 107);
    background-color: rgb(1, 1, 17);
    margin-bottom: 10em;
}

.donde {
    box-shadow: 1px 1px 1px 1px rgb(16, 16, 107);
    background-color: rgb(1, 1, 17);
    margin-bottom: 10em;
}
.conocenos {
box-shadow: 1px 1px 1px 1px rgb(16, 16, 107);
background-color: rgb(1, 1, 17);
margin-bottom: 10em;
}
.sectionIndex h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2em;
}
.sectionIndex h3{
    text-align: center;
    margin-left: 7em;
    margin-top: 7em;
    margin-right: 7em;
}
.sectionIndex img{
    width: 600px;
    height: 450px;
    margin-right: 2em;
    margin-left: 2em;
}

.sectionIndex div{ 
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

.listaProductos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px 75px 75px 75px;
    align-items: center;

}
.listaProductos>div{
    box-shadow: 0px 0px 10px 0px rgb(16, 16, 107);
    background-color: rgb(1, 1, 17);
    border-radius: 20px;
}
.listaProductos>div:hover{
    background-color:  rgb(0, 0, 32);
}


.listaProductos img {
    width: 300px;
    height: 300px;
    margin-bottom: 18px;
    /*object-fit: cover;*/
    border-radius: 20px 20px 0 0;
}

.listaProductos button {
    width: 130px;
    padding: 8px;
    background-color: rgb(0, 0, 32);
    border-radius: 20px;
    border: 2px solid rgb(16, 16, 107);
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}

.producto h2 {
    padding-top: 5px;
    padding-bottom: 10px;
}
button:hover {
    background-color: rgb(0, 0, 15);
}
.hola {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
.abrirCarrito {
    background-color: black;
}

.carrito {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 9, 17, 0.678);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}  
.carrito h2 {
    margin-bottom: 10px;
}
.cerrarCarrito, .vaciarCarrito{
    background-color: rgba(10, 9, 17, 0.678);
    margin-bottom: 15px;
}
.abrirCarrito,
.cerrarCarrito, .vaciarCarrito {
    display: block;
    border: 0;
}
.carrito.visible {
    opacity: 1;
    visibility: visible;
}

footer h4 {
    margin-top: 2em;
    margin-bottom: 1em;
}
.redesSociales {
    margin-bottom: 1em;
}
}