* {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Raleway:ital,wght@1,100&display=swap");

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
  color: aliceblue;
  /*font-family: "Rubik Mono One", sans-serif;*/
  /*font-family: "Montserrat", sans-serif;*/
  font-family: "Raleway", sans-serif;
}

@media (min-width: 150px) {
  h1 {
    font-size: 1em;
    font-weight: normal;
  }
  .titulo {
    height: 2.5em;
    background: linear-gradient(
      90deg,
      rgba(236, 24, 228, 1) 0%,
      rgba(103, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5em;
  }
  .logoProd {
    width: 5em;
  }
  .buscando {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .buscador {
    width: 15em;
    height: 2em;
  }
  .botonBuscador {
    background-color: black;
  }
  .botonBuscador img {
    width: 2em;
  }

  .carrusel img {
    width: 100%;
  }
  .sectionIndex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-top: 2em;
  }
  .sectionIndex h2 {
    font-weight: normal;
    font-size: 1em;
    margin-top: 1em;
  }
  .envios,
  .pagos,
  .horarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .destacados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6em;
  }
  .destacados img {
    width: 15em;
    margin: 1em;
  }
  .nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nosotros div {
    background: linear-gradient(
      90deg,
      rgba(236, 24, 228, 1) 0%,
      rgba(103, 9, 121, 1) 35%,
      rgba(0, 212, 255, 1) 100%
    );
    height: 20em;
    width: 15em;
    margin: 2em;
    border-radius: 25px;
  }
  .div,
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
    color: black;
  }
  /*SECCION PRODUCTOS*/
  .listaProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .listaProductos img {
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    border-radius: 20px 20px 0 0;
    padding-bottom: 25px;
  }

  .producto {
    height: 450px;
    width: 250px;
    background-color: rgb(1, 1, 17);
    box-shadow: 0px 0px 10px 0px rgb(16, 16, 107);
    margin-bottom: 10em;
    border-radius: 20px;
  }
  .producto h2 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
  }
  .listaProductos button {
    width: 130px;
    padding: 8px;
    background-color: rgb(0, 0, 32);
    border-radius: 20px;
    border: 2px solid rgb(16, 16, 107);
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
  }
  .listaProductos div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .abrirCarrito {
    background-color: black;
  }
  button:hover {
    background-color: rgb(0, 0, 15);
  }
  .hola {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .carrito {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 9, 17, 0.877);
    min-height: 100vh;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .carrito h2 {
    margin-bottom: 10px;
  }
  .botonEliminar {
    background-color: rgb(171, 171, 231);
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
  }
  .botonEliminar:hover {
    color: white;
  }
  .cerrarCarrito,
  .vaciarCarrito,
  .agregar,
  .quitar {
    background-color: rgba(10, 9, 17, 0.678);
    margin-bottom: 15px;
    margin-top: 15px;
  }
  .abrirCarrito,
  .cerrarCarrito,
  .vaciarCarrito,
  .agregar,
  .quitar {
    border: 0;
  }
  .carrito.visible {
    opacity: 1;
    visibility: visible;
  }
  .parrafoVacio {
    margin-top: 2rem;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;
    text-align: center;
    border-top: solid 1px whitesmoke;
  }
  footer h4 {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .redesSociales {
    margin-bottom: 1em;
  }
}

@media (min-width: 575px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .logoProd {
    width: 10em;
  }
  .destacados img {
    width: 20em;
    margin: 1em;
  }
  .sectionIndex h2 {
    font-size: 1.5em;
    font-weight: normal;
  }
  .nosotros div {
    height: 25em;
    width: 20em;
    border-radius: 25px;
  }
  .listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
  }
}
@media (min-width: 900px) {
  .buscador {
    width: 40em;
    height: 2em;
  }
  .botonBuscador img {
    width: 3em;
  }
  .sectionIndex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4em;
    margin-top: 2em;
  }
  .destacados {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .carrusel img {
    height: 34em;
  }
  h1 {
    font-size: 2em;
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }

  .listaProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .producto {
    height: 500px;
    width: 300px;
    margin-bottom: 50px;
    border-radius: 20px;
  }

  .listaProductos > div:hover {
    background-color: rgb(0, 0, 32);
  }
  .listaProductos img {
    width: 300px;
    height: 300px;
    margin-bottom: 18px;
    border-radius: 20px 20px 0 0;
  }
}
